<a href="https://colab.research.google.com/github/wellmej/DataScienceUseCases/blob/main/SQL_Create_Column_Definitions_from_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [3]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [4]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Definition Info Output.sql'
out_file = folder_name + out_file_name

In [6]:

# Read .CSV file into a dataframe
#------------------------------------------------
df_database_info = pd.read_csv(csv_in_file)
df_database_info.head(10)

                Column_Header  Column_Order  Length_of_Field Type
0               matches_input             7                1    v
1                   group_key             8               38    v
2                aug_addr_key             9               20    v
3    aug_addr_primary_address            10               50    v
4  aug_addr_secondary_address            11               50    v
5               aug_addr_city            12               28    v
6              aug_addr_state            13                2    v
7                aug_addr_zip            14                5    v
8              aug_addr_zip4"            15                4    v
9            aug_addr_rectype            16                2    v

In [7]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
#os.listdir()

In [8]:
sqlBegin = 'insert into DICE.dbo.DAT_FileFormat values ('
sqlNULL = 'NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlEnd = ')'
i = 0

In [9]:
for ind, row in df_database_info.iterrows():
    df_database_info.loc[ind, "New_SQL"] = sqlBegin + sqlDefFileFormatId + ',' + "'" + row['Column_Header'] + "'" + ',' + str(row['Length_of_Field']) + ',' + str(row['Column_Order']) + ',' + sqlZero + ',' + "'" + row['Column_Header'] + "'" + ',' + sqlZero + ',' + sqlDefFileRowLayoutId + ',' + sqlZero + ',' + sqlNULL + sqlEnd

In [10]:
f = open(out_file, 'w')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row['New_SQL'] + '\n')
       print (row['New_SQL']) 
       i+=1
#
#
f.close()

insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'matches_input',1,7,0,'matches_input',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'group_key',38,8,0,'group_key',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_key',20,9,0,'aug_addr_key',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_primary_address',50,10,0,'aug_addr_primary_address',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_secondary_address',50,11,0,'aug_addr_secondary_address',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_city',28,12,0,'aug_addr_city',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_state',2,13,0,'aug_addr_state',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_zip',5,14,0,'aug_addr_zip',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_zip4"',4,15,0,'aug_addr_zip4"',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_rectype',2,16,0,'aug_addr_rectype',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_secondary_range',8,17,0,'aug_addr_secondary_range',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_fipscode',5,18,0,'aug_addr_fipscode',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone1',10,19,0,'aug_phone1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone1_last_contact_date',8,20,0,'aug_phone1_last_contact_date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone2',10,21,0,'aug_phone2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone2_last_contact_date',8,22,0,'aug_phone2_last_contact_date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone3',10,23,0,'aug_phone3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_phone3_last_contact_date',8,24,0,'aug_phone3_last_contact_date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_fax1',10,25,0,'aug_fax1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_fax2',10,26,0,'aug_fax2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_fax3',10,27,0,'aug_fax3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_prac_company1_name',100,28,0,'aug_prac_company1_name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_prac_company1_apcfirm1',3,29,0,'aug_prac_company1_apcfirm1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'last_update_date',8,30,0,'last_update_date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_conf_score',3,31,0,'aug_addr_conf_score',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_prac1_hospital_name',100,32,0,'aug_prac1_hospital_name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_prac1_hospital_group_key',38,33,0,'aug_prac1_hospital_group_key',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'primary_location',1,34,0,'primary_location',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_ref_prac_addr_flag',1,35,0,'aug_addr_ref_prac_addr_flag',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'aug_addr_ref_bill_addr_flag',1,36,0,'aug_addr_ref_bill_addr_flag',0,@DefFileRowLayoutId,0,NULL)

In [ ]:
#for index, row in p.iterrows():
#    if i > len(p):
#       break
#    else:
#       f = open(str(i)+'.txt', 'w')
#       f.write(row[0])
#       f.close()
#       i+=1

In [11]:
df_database_info.head(20)

,Column_Header,Column_Order,Length_of_Field,Type,New_SQL
0,matches_input,7,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
1,group_key,8,38,v,insert into DICE.dbo.DAT_FileFormat values (@D...
2,aug_addr_key,9,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
3,aug_addr_primary_address,10,50,v,insert into DICE.dbo.DAT_FileFormat values (@D...
4,aug_addr_secondary_address,11,50,v,insert into DICE.dbo.DAT_FileFormat values (@D...
5,aug_addr_city,12,28,v,insert into DICE.dbo.DAT_FileFormat values (@D...
6,aug_addr_state,13,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
7,aug_addr_zip,14,5,v,insert into DICE.dbo.DAT_FileFormat values (@D...
8,"aug_addr_zip4""",15,4,v,insert into DICE.dbo.DAT_FileFormat values (@D...
9,aug_addr_rectype,16,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
10,aug_addr_secondary_range,17,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
11,aug_addr_fipscode,18,5,v,insert into DICE.dbo.DAT_FileFormat values (@D...
12,aug_phone1,19,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
13,aug_phone1_last_contact_date,20,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
14,aug_phone2,21,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
15,aug_phone2_last_contact_date,22,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
16,aug_phone3,23,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
17,aug_phone3_last_contact_date,24,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
18,aug_fax1,25,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
19,aug_fax2,26,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...

In [ ]:
##
##  END HERE
##

In [ ]:
#----------------------------------------------------------------
# 1. Open Output CSV file to write Policy and Hashed data to. Set newline to null to avoid writing blank lines.
# 2. Read thru CSV inpiut file for each row
# 3. For each row, Hash the policy number, and capture last
#    8 characters of the hashed result
# 4. Write CSV output file for each new row with:
#    a. Input Policy Number
#    b. Hash SHA224 Result of Policy Number
#    c. Last 8 characters of Hash result (Activation Code)
#----------------------------------------------------------------

with open(out_file, mode='w', newline='') as hash_file_out:
      hash_file = csv.writer(hash_file_out, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
        
      policy_in = open(csv_in_file)
      policy_in_csv = csv.reader(policy_in)
      row_index = 0

#----------------------------------------------------------------
# For each input row, read the Policy_Number, hash it using
# SHA224 alogrithm, capture last 8 characters of the hash, and
# write Policy_Number, Full Hash, and Last 8 Hash to new
# output CSV file.
#----------------------------------------------------------------
      for row in policy_in_csv:
        print (row[row_index])
        row_new = row
        display_policy_number = row[row_index]
        policy_number = display_policy_number[0:10]
#
# encoding <Policy_number> using encode() 
# then sending to SHA224() 
#        result = hashlib.sha224(policy_number.encode()) 
  
# printing the equivalent hexadecimal value. 
#        print("The hexadecimal equivalent of SHA224 is : ")  
#        print(result.hexdigest()) 

#        row_new.append(result.hexdigest()[48:] + "-jrw")
        row_new.append(''        
        row_new.append(result.hexdigest())
        row_new.append(policy_number)
        
        print (row_new)
               
#----------------------------------------------------------------
#      Write out new CSV row
#----------------------------------------------------------------
        hash_file.writerow(row_new)
    
        print ("\r") 
#
# End
#

SyntaxError: invalid syntax (<ipython-input-28-d787c8f21e98>, line 41)