<a href="https://colab.research.google.com/github/wellmej/DataScienceUseCases/blob/main/SQL_Create_Table_from_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [15]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [ ]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

In [16]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
#folder_name = 'C:/Users/jrwel/Documents/Udemy/Python Mega Course/Data/Supermarket/'
#employee_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Case Studies/Case1/Human_Resources.csv')
#employee_df = pd.read_csv('C:/Users/jrwel/Documents/Udemy/Data Science Real-World Case Studies/Data/Case1/Human_Resource.csv')
#folder_name = 'C:/Users/jack.wellmerling/Documents/MyDocs/PythonScriptData/WorkDirectory/'
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
table_name = 'LexisNexisProviderCorrectionsExtract'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Create Output.sql'
out_file = folder_name + out_file_name

In [17]:
#------------------------------------------------
# Read .CSV file into a dataframe
#------------------------------------------------
#df_database_info = pd.read_csv(csv_in_file, encoding = "latin1" )
df_database_info = pd.read_csv(csv_in_file )
df_database_info.head(10)

         Column_Header  Column_Order  Length_of_Field Type
0          provider_id             7               50    v
1          location_id             8              255    v
2         sequence_num             9               12    v
3     match_confidence            10                3    v
4            group_key            11               38    v
5      provider_status            12                2    v
6        date_of_death            13                8    v
7             oig_flag            14                1    v
8  state_restrict_flag            15                1    v
9             opm_flag            16                1    v

# New Section

In [18]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
os.listdir()

['.config', 'drive', 'sample_data']

In [ ]:
sqlDrop = 'IF Object_id([EDExtract].[dbo].[' + table_name + ']) is not null DROP TABLE [EDExtract].[dbo].[' + table_name + '];'
sqlBegin = 'CREATE TABLE '
sqlTable = '[EDExtract].[dbo].[' + table_name + ']'
sqlNULL = 'NULL'
sqlNOTNULL = 'NOT NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlComma = ','
sqlOpenBracket = '['
sqlOpenParen = '('
sqlCloseBracket = ']'
sqlCloseParen = ')'
sqlSpace = ' '
sqlVarChar = '[varchar]'

sqlEnd = ')'

sqlConstraint = ' CONSTRAINT [PK_' + table_name + '] PRIMARY KEY CLUSTERED'
sqlCons1 = '[RowId] ASC' + sqlComma
sqlCons2 = '[FileId] ASC' + sqlComma
sqlCons3 = '[ExecutionId] ASC'
sqlWith = sqlCloseParen + 'WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
sqlStorage = sqlCloseParen + ' ON [PRIMARY]'
i = 0

In [19]:
for ind, row in df_database_info.iterrows():
    if row['Type'] == 'v':
        df_database_info.loc[ind, "SQL_Create_Tbl"] = sqlOpenBracket + row['Column_Header'] + sqlCloseBracket + sqlSpace  + sqlVarChar + sqlOpenParen +  str(row['Length_of_Field']) + sqlCloseParen + sqlSpace + sqlNULL + sqlComma

In [20]:
#f = open(out_file, 'w', encoding="latin1")
f = open(out_file, 'w')
f.write(sqlDrop + '\n')
f.write(sqlBegin + sqlTable + '\n')
f.write(sqlOpenParen + '\n')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row ['SQL_Create_Tbl'] + '\n')
       print (row['SQL_Create_Tbl']) 
       i+=1
#
f.write(sqlConstraint + '\n')
f.write(sqlOpenParen + '\n')
f.write(sqlCons1 + '\n')
f.write(sqlCons2 + '\n')
f.write(sqlCons3+ '\n')
f.write(sqlWith + '\n')
f.write(sqlStorage + '\n')
#
f.close()

[provider_id] [varchar](50) NULL,

In [21]:
#for index, row in p.iterrows():
#    if i > len(p):
#       break
#    else:
#       f = open(str(i)+'.txt', 'w')
#       f.write(row[0])
#       f.close()
#       i+=1

In [22]:
df_database_info.head(20)

,Column_Header,Column_Order,Length_of_Field,Type,SQL_Create_Tbl
0,provider_id,7,50,v,"[provider_id] [varchar](50) NULL,"
1,location_id,8,255,v,"[location_id] [varchar](255) NULL,"
2,sequence_num,9,12,v,"[sequence_num] [varchar](12) NULL,"
3,match_confidence,10,3,v,"[match_confidence] [varchar](3) NULL,"
4,group_key,11,38,v,"[group_key] [varchar](38) NULL,"
5,provider_status,12,2,v,"[provider_status] [varchar](2) NULL,"
6,date_of_death,13,8,v,"[date_of_death] [varchar](8) NULL,"
7,oig_flag,14,1,v,"[oig_flag] [varchar](1) NULL,"
8,state_restrict_flag,15,1,v,"[state_restrict_flag] [varchar](1) NULL,"
9,opm_flag,16,1,v,"[opm_flag] [varchar](1) NULL,"
10,dea_sanc_flag,17,1,v,"[dea_sanc_flag] [varchar](1) NULL,"
11,sanction_flag,18,1,v,"[sanction_flag] [varchar](1) NULL,"
12,name_in,19,50,v,"[name_in] [varchar](50) NULL,"
13,fullname,20,50,v,"[fullname] [varchar](50) NULL,"
14,pre_name,21,15,v,"[pre_name] [varchar](15) NULL,"
15,first_name,22,50,v,"[first_name] [varchar](50) NULL,"
16,middle_name,23,50,v,"[middle_name] [varchar](50) NULL,"
17,last_name,24,50,v,"[last_name] [varchar](50) NULL,"
18,maturity_suffix,25,15,v,"[maturity_suffix] [varchar](15) NULL,"
19,other_suffix,26,15,v,"[other_suffix] [varchar](15) NULL,"