#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [1]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [4]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
#folder_name = 'C:/Users/jrwel/Documents/Udemy/Python Mega Course/Data/Supermarket/'
#employee_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Case Studies/Case1/Human_Resources.csv')
#employee_df = pd.read_csv('C:/Users/jrwel/Documents/Udemy/Data Science Real-World Case Studies/Data/Case1/Human_Resource.csv')
#folder_name = 'C:/Users/jack.wellmerling/Documents/MyDocs/PythonScriptData/WorkDirectory/'
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
table_name = 'CostcoHealthRxClaimsExtract'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Create Output.sql'
out_file = folder_name + out_file_name

In [6]:
#------------------------------------------------
# Read .CSV file into a dataframe
#------------------------------------------------
#df_database_info = pd.read_csv(csv_in_file, encoding = "latin1" )
df_database_info = pd.read_csv(csv_in_file )
df_database_info.head(10)

       Column_Header  Column_Order  Length_of_Field Type
0       CLM_AUTH_NUM             7               16    v
1          CLAIM_STS             8               30    v
2  PAID_CLM_AUTH_NUM             9               14    v
3      COSTCO_CLM_ID            10               15    v
4           ASSOC_ID            11               10    v
5             ORG_ID            12               10    v
6         CARRIER_ID            13               10    v
7         ACCOUNT_ID            14               15    v
8           GROUP_ID            15               20    v
9        SUBGROUP_ID            16               20    v

In [7]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
os.listdir()

['.config', 'drive', 'sample_data']

In [8]:
sqlDrop = 'IF Object_id([EDExtract].[dbo].[' + table_name + ']) is not null DROP TABLE [EDExtract].[dbo].[' + table_name + '];'
sqlGo = 'GO'
sqlBegin = 'CREATE TABLE '
sqlTable = '[EDExtract].[dbo].[' + table_name + ']'
sqlNULL = 'NULL'
sqlNOTNULL = 'NOT NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlComma = ','
sqlOpenBracket = '['
sqlOpenParen = '('
sqlCloseBracket = ']'
sqlCloseParen = ')'
sqlSpace = ' '
sqlVarChar = '[varchar]'

sqlEnd = ')'

sqlConstraint = ' CONSTRAINT [PK_' + table_name + '] PRIMARY KEY CLUSTERED'
sqlCons1 = '[RowId] ASC' + sqlComma
sqlCons2 = '[FileId] ASC' + sqlComma
sqlCons3 = '[ExecutionId] ASC'
sqlWith = sqlCloseParen + 'WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
sqlStorage = sqlCloseParen + ' ON [PRIMARY]'
i = 0

In [9]:
for ind, row in df_database_info.iterrows():
    if row['Type'] == 'v':
        df_database_info.loc[ind, "SQL_Create_Tbl"] = sqlOpenBracket + row['Column_Header'] + sqlCloseBracket + sqlSpace  + sqlVarChar + sqlOpenParen +  str(row['Length_of_Field']) + sqlCloseParen + sqlSpace + sqlNULL + sqlComma

In [10]:
#f = open(out_file, 'w', encoding="latin1")
f = open(out_file, 'w')
f.write(sqlDrop + '\n')
f.write(sqlGo + '\n')
f.write(sqlBegin + sqlTable + '\n')
f.write(sqlOpenParen + '\n')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row ['SQL_Create_Tbl'] + '\n')
       print (row['SQL_Create_Tbl']) 
       i+=1
#
f.write(sqlConstraint + '\n')
f.write(sqlOpenParen + '\n')
f.write(sqlCons1 + '\n')
f.write(sqlCons2 + '\n')
f.write(sqlCons3+ '\n')
f.write(sqlWith + '\n')
f.write(sqlStorage + '\n')
#
f.close()

[CLM_AUTH_NUM] [varchar](16) NULL,
[CLAIM_STS] [varchar](30) NULL,
[PAID_CLM_AUTH_NUM] [varchar](14) NULL,
[COSTCO_CLM_ID] [varchar](15) NULL,
[ASSOC_ID] [varchar](10) NULL,
[ORG_ID] [varchar](10) NULL,
[CARRIER_ID] [varchar](10) NULL,
[ACCOUNT_ID] [varchar](15) NULL,
[GROUP_ID] [varchar](20) NULL,
[SUBGROUP_ID] [varchar](20) NULL,
[LOCATION_ID] [varchar](10) NULL,
[MEM_UNIQUE_ID] [varchar](30) NULL,
[MEM_LAST_NAME] [varchar](25) NULL,
[MEM_FIRST_NAME] [varchar](25) NULL,
[MEM_MIDDLE_INIT] [varchar](1) NULL,
[MEM_PERSON_CD] [varchar](2) NULL,
[MEM_REL_CD] [varchar](2) NULL,
[MEM_GENDER_CD] [varchar](1) NULL,
[MEM_BIRTH_DT] [varchar](8) NULL,
[MEM_ZIP] [varchar](10) NULL,
[MEM_SOC_SEC_NUM] [varchar](9) NULL,
[MEM_FAMILY_ID] [varchar](30) NULL,
[MEM_PLAN_ID] [varchar](20) NULL,
[MEM_PRDCT_CD] [varchar](15) NULL,
[MEM_RIDER_CD] [varchar](20) NULL,
[MEM_OTHER_COVRG_IND] [varchar](30) NULL,
[MEM_OTHER_COVRG_ID] [varchar](20) NULL,
[FILLER_1] [varchar](1) NULL,
[FILLER_2] [varchar](15) NULL,
[CLM_ELIG_CLARIF_CD] [varchar](1) NULL,
[CLM_CUST_LOCATION] [varchar](2) NULL,
[CLM_FACILITY_ID] [varchar](10) NULL,
[CLM_OTHER_COVRG] [varchar](1) NULL,
[SUBMIT_DT] [varchar](8) NULL,
[SUBMIT_TIMESTAMP] [varchar](14) NULL,
[SERVICE_DT] [varchar](8) NULL,
[COSTCO_INVOICE_NUM] [varchar](25) NULL,
[INVOICE_DT] [varchar](8) NULL,
[CLM_COUNTER] [varchar](2) NULL,
[CLM_ORIGIN] [varchar](20) NULL,
[CLM_REIMBURSE_TYPE] [varchar](20) NULL,
[FILLER_3"] [varchar](9) NULL,
[RX_NUM_QUAL] [varchar](1) NULL,
[REFILL_CD] [varchar](2) NULL,
[COMPOUND_CD] [varchar](1) NULL,
[PRODUCT_SRVC_QUAL] [varchar](2) NULL,
[NDC_NUM] [varchar](11) NULL,
[METRIC_DECIMAL_QTY] [varchar](13) NULL,
[DAYS_SUPPLY] [varchar](4) NULL,
[DISPENSE_AS_WRITTEN] [varchar](1) NULL,
[WRITTEN_DT] [varchar](8) NULL,
[REFILLS_AUTH] [varchar](2) NULL,
[RX_ORIGIN_CD] [varchar](1) NULL,
[RX_CLARIFICATION_CD] [varchar](2) NULL,
[CLM_PRIOR_AUTH_NUM] [varchar](12) NULL,
[PRIOR_AUTH_CERT_CD] [varchar](1) NULL,
[MEMBER_PRIOR_AUTH_NUM] [varchar](30) NULL,
[MPA_REASON_CD] [varchar](20) NULL,
[MPA_START_DT] [varchar](8) NULL,
[MPA_END_DT] [varchar](8) NULL,
[DRUG_PRDCT_NAME] [varchar](25) NULL,
[DRUG_PRDCT_DESC] [varchar](25) NULL,
[DRUG_TIER] [varchar](2) NULL,
[GENERIC_PRDCT_ID] [varchar](14) NULL,
[GENERIC_PRDCT_NAME] [varchar](60) NULL,
[AHFS_CD] [varchar](6) NULL,
[DRUG_DEA_CLASS_CD] [varchar](5) NULL,
[RX_OTC_CD] [varchar](1) NULL,
[MULTI_SOURCE_IND] [varchar](1) NULL,
[DRUG_STRENGTH] [varchar](12) NULL,
[DRUG_STRENGTH_UOM] [varchar](12) NULL,
[SUBMIT_PHARM_ID] [varchar](12) NULL,
[PHARM_ID_QUAL] [varchar](2) NULL,
[PHARM_NAME] [varchar](35) NULL,
[PHARM_STORE_NUM] [varchar](10) NULL,
[PHARM_AFFIL_CD] [varchar](3) NULL,
[PHARM_CONTRACT_TYPE] [varchar](50) NULL,
[PHARM_ADDR_1] [varchar](50) NULL,
[PHARM_ADDR_2] [varchar](50) NULL,
[PHARM_CITY] [varchar](50) NULL,
[PHARM_STATE_CD] [varchar](2) NULL,
[PHARM_ZIP_CD_10"] [varchar](10) NULL,
[PHARM_PHONE_NUM] [varchar](10) NULL,
[PRESCRIBER_ID] [varchar](10) NULL,
[PRESCRIBER_ID_QUAL] [varchar](2) NULL,
[PRESCRIBER_NAME] [varchar](40) NULL,
[PRESCRIBER_ADDR_1] [varchar](50) NULL,
[PRESCRIBER_ADDR_2] [varchar](50) NULL,
[PRESCRIBER_CITY] [varchar](50) NULL,
[PRESCRIBER_STATE_CD] [varchar](2) NULL,
[PRESCRIBER_ZIP_CD_10] [varchar](10) NULL,
[PRESCRIBER_PHONE_NUM] [varchar](15) NULL,
[REJECT_CD1_DESCR] [varchar](60) NULL,
[REJECT_CD2_DESCR] [varchar](60) NULL,
[REJECT_CD3_DESCR] [varchar](60) NULL,
[DUR_CONFLICT_CD] [varchar](2) NULL,
[DUR_INTERVENTION_CD] [varchar](2) NULL,
[DUR_OUTCOME_CD] [varchar](2) NULL,
[LEVEL_OF_SRVC] [varchar](2) NULL,
[DIAGNOSIS_CD] [varchar](15) NULL,
[DIAGNOSIS_CD_QUAL] [varchar](2) NULL,
[DRUG_CONFLICT_CD1] [varchar](2) NULL,
[CLINICAL_SIGNIFICANCE_CD1] [varchar](1) NULL,
[OTHER_PHARM_IND1] [varchar](1) NULL,
[PREV_FILL_DT1] [varchar](8) NULL,
[PREV_FILL_QTY1] [varchar](12) NULL,
[DATABASE_IND1] [varchar](1) NULL,
[OTHER_PRESCRIB_IND1"] [varchar](1) NULL,
[DUR_FREE_TXT_MESSAGE1] [varchar](30) NULL,
[DRUG_CONFLICT_CD2] [varchar](2) NULL,
[CLINICAL_SIGNIFICANCE_CD2] [varchar](1) NULL,
[OTHER_PHARM_IND2] [varchar](1) NULL,
[PREV_FILL_DT2] [varchar](8) NULL,
[PREV_FILL_QTY2] [varchar](12) NULL,
[DATABASE_IND2] [varchar](1) NULL,
[OTHER_PRESCRIB_IND2] [varchar](1) NULL,
[DUR_FREE_TXT_MESSAGE2] [varchar](30) NULL,
[DRUG_CONFLICT_CD3] [varchar](2) NULL,
[CLINICAL_SIGNIFICANCE_CD3] [varchar](1) NULL,
[OTHER_PHARM_IND3] [varchar](1) NULL,
[PREV_FILL_DT3] [varchar](8) NULL,
[PREV_FILL_QTY3] [varchar](12) NULL,
[DATABASE_IND3] [varchar](1) NULL,
[OTHER_PRESCRIB_IND3] [varchar](1) NULL,
[DUR_FREE_TXT_MESSAGE3] [varchar](30) NULL,
[OOP_FLAG] [varchar](1) NULL,
[DEDUCT_FLAG] [varchar](1) NULL,
[WC_INJURY_DATE] [varchar](8) NULL,
[WC_CLAIM_ID] [varchar](30) NULL,
[WC_INJURY_TYPE] [varchar](14) NULL,
[WC_EMPLOYER_NAME] [varchar](40) NULL,
[WC_EMPLOYER_ADDR_1] [varchar](40) NULL,
[WC_EMPLOYER_ADDR_2] [varchar](40) NULL,
[WC_EMPLOYER_CITY] [varchar](20) NULL,
[WC_EMPLOYER_STATE_CD] [varchar](2) NULL,
[WC_EMPLOYER_ZIP_CD] [varchar](10) NULL,
[WC_EMPLOYER_PHONE_NUM] [varchar](10) NULL,
[WC_EMPLOYER_FAX_NUM] [varchar](10) NULL,
[WC_ADJUSTER] [varchar](25) NULL,
[WC_ADJUSTER_PHONE] [varchar](10) NULL,
[WC_ADJUSTER_FAX] [varchar](10) NULL,
[WC_VENUE_STATE_CD] [varchar](2) NULL,
[WC_ACTIVATION_DATE] [varchar](8) NULL,
[WC_INJURY_CAUSE] [varchar](100) NULL,
[FILLER_4] [varchar](1) NULL,
[FILLER_5] [varchar](5) NULL,
[FILLER_6] [varchar](4) NULL,
[FILLER_7] [varchar](10) NULL,
[FILLER_8] [varchar](15) NULL,
[FILLER_9] [varchar](15) NULL,
[FILLER_10] [varchar](15) NULL,
[AWP_UNIT_PRICE] [varchar](15) NULL,
[WAC_UNIT_PRICE] [varchar](15) NULL,
[COST_DESC] [varchar](6) NULL,
[APPRVD_MEMBER_PAID] [varchar](15) NULL,
[APPRVD_GROSS_DUE] [varchar](15) NULL,
[APPRVD_DAW_DIFF] [varchar](15) NULL,
[APPRVD_ OOP_AMT] [varchar](15) NULL,
[APPRVD_DEDUCT_AMT] [varchar](15) NULL,
[APPRVD_BENEFIT_MAXIMUM] [varchar](15) NULL,
[ALT_MEM_ID] [varchar](20) NULL,
[DAW_WHO] [varchar](1) NULL,
[RX_NUMBER] [varchar](12) NULL,
[OTHER_PAYER_MEM_RESP_AMT_QTY] [varchar](2) NULL,
[OTHER_PAYER_MEM_RESP_AMT] [varchar](15) NULL,
[OTHER_PAYER_MEM_RESP_COUNT] [varchar](2) NULL,
[MEDICAID_PAID_AMT] [varchar](15) NULL,
[COST_REIMBURSE_AMT] [varchar](15) NULL,
[FILLER_14] [varchar](15) NULL,
[COINSURANCE_AMT] [varchar](15) NULL,
[FILLER_15] [varchar](15) NULL,
[FILLER_16] [varchar](15) NULL,
[ADDITIONAL_DOC_TYPE_ID] [varchar](3) NULL,
[LENGTH_OF_NEED] [varchar](3) NULL,
[LENGTH_OF_NEED_QUAL] [varchar](2) NULL,
[PRESCRIB_DATE_SIGNED] [varchar](8) NULL,
[REQUEST_STATUS_CD] [varchar](1) NULL,
[REQUEST_PERIOD_START_DT] [varchar](8) NULL,
[REQUEST_PERIOD_REVISED_DT] [varchar](8) NULL,
[SUPPORTING_DOC] [varchar](65) NULL,
[QUESTION_NUM_LETTER_COUNT] [varchar](2) NULL,
[PROFESSIONAL_SERVICE_FEE] [varchar](15) NULL,
[REJECT_CODE_1] [varchar](3) NULL,
[REJECT_CODE_2] [varchar](3) NULL,
[REJECT_CODE_3] [varchar](3) NULL,
[PHARMACY_NABP_ID] [varchar](10) NULL,
[OUT_OF_NETWORK_INDICATOR] [varchar](1) NULL,
[INFERTILITY_INDICATOR] [varchar](1) NULL,
[FILLER 13] [varchar](357) NULL,

df_database_info.head(40)

##Create DAT_File_Format definitions

In [11]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Definition Info Output.sql'
out_file = folder_name + out_file_name

In [22]:
#------------------------------------------------
# Read .CSV file into a dataframe
#------------------------------------------------
df_database_info = pd.read_csv(csv_in_file)
df_database_info.head(10)

       Column_Header  Column_Order  Length_of_Field Type
0       CLM_AUTH_NUM             7               16    v
1          CLAIM_STS             8               30    v
2  PAID_CLM_AUTH_NUM             9               14    v
3      COSTCO_CLM_ID            10               15    v
4           ASSOC_ID            11               10    v
5             ORG_ID            12               10    v
6         CARRIER_ID            13               10    v
7         ACCOUNT_ID            14               15    v
8           GROUP_ID            15               20    v
9        SUBGROUP_ID            16               20    v

In [23]:
sqlBegin = 'insert into DICE.dbo.DAT_FileFormat values ('
sqlNULL = 'NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlFieldStart = 0
sqlEnd = ')'
i = 0

In [24]:
for ind, row in df_database_info.iterrows():
    df_database_info.loc[ind, "New_SQL"] = sqlBegin + sqlDefFileFormatId + ',' + "'" + row['Column_Header'] + "'" + ',' + str(row['Length_of_Field']) + ',' + str(row['Column_Order']) + ',' + str(sqlFieldStart) + ',' + "'" + row['Column_Header'] + "'" + ',' + sqlZero + ',' + sqlDefFileRowLayoutId + ',' + sqlZero + ',' + sqlNULL + sqlEnd
    sqlFieldStart = sqlFieldStart + row['Length_of_Field']

In [25]:
#----------------------------------------------------
# Write out DICE.dbo.DAT_FileFormat values          
#----------------------------------------------------
f = open(out_file, 'w')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row['New_SQL'] + '\n')
       print (row['New_SQL']) 
       i+=1
#
#
f.close()

insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_AUTH_NUM',16,7,0,'CLM_AUTH_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLAIM_STS',30,8,16,'CLAIM_STS',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PAID_CLM_AUTH_NUM',14,9,46,'PAID_CLM_AUTH_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'COSTCO_CLM_ID',15,10,60,'COSTCO_CLM_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'ASSOC_ID',10,11,75,'ASSOC_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'ORG_ID',10,12,85,'ORG_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CARRIER_ID',10,13,95,'CARRIER_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'ACCOUNT_ID',15,14,105,'ACCOUNT_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'GROUP_ID',20,15,120,'GROUP_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'SUBGROUP_ID',20,16,140,'SUBGROUP_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'LOCATION_ID',10,17,160,'LOCATION_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_UNIQUE_ID',30,18,170,'MEM_UNIQUE_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_LAST_NAME',25,19,200,'MEM_LAST_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_FIRST_NAME',25,20,225,'MEM_FIRST_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_MIDDLE_INIT',1,21,250,'MEM_MIDDLE_INIT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_PERSON_CD',2,22,251,'MEM_PERSON_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_REL_CD',2,23,253,'MEM_REL_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_GENDER_CD',1,24,255,'MEM_GENDER_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_BIRTH_DT',8,25,256,'MEM_BIRTH_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_ZIP',10,26,264,'MEM_ZIP',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_SOC_SEC_NUM',9,27,274,'MEM_SOC_SEC_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_FAMILY_ID',30,28,283,'MEM_FAMILY_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_PLAN_ID',20,29,313,'MEM_PLAN_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_PRDCT_CD',15,30,333,'MEM_PRDCT_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_RIDER_CD',20,31,348,'MEM_RIDER_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_OTHER_COVRG_IND',30,32,368,'MEM_OTHER_COVRG_IND',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEM_OTHER_COVRG_ID',20,33,398,'MEM_OTHER_COVRG_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_1',1,34,418,'FILLER_1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_2',15,35,419,'FILLER_2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_ELIG_CLARIF_CD',1,36,434,'CLM_ELIG_CLARIF_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_CUST_LOCATION',2,37,435,'CLM_CUST_LOCATION',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_FACILITY_ID',10,38,437,'CLM_FACILITY_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_OTHER_COVRG',1,39,447,'CLM_OTHER_COVRG',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'SUBMIT_DT',8,40,448,'SUBMIT_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'SUBMIT_TIMESTAMP',14,41,456,'SUBMIT_TIMESTAMP',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'SERVICE_DT',8,42,470,'SERVICE_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'COSTCO_INVOICE_NUM',25,43,478,'COSTCO_INVOICE_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'INVOICE_DT',8,44,503,'INVOICE_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_COUNTER',2,45,511,'CLM_COUNTER',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_ORIGIN',20,46,513,'CLM_ORIGIN',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_REIMBURSE_TYPE',20,47,533,'CLM_REIMBURSE_TYPE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_3"',9,48,553,'FILLER_3"',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'RX_NUM_QUAL',1,49,562,'RX_NUM_QUAL',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'REFILL_CD',2,50,563,'REFILL_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'COMPOUND_CD',1,51,565,'COMPOUND_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRODUCT_SRVC_QUAL',2,52,566,'PRODUCT_SRVC_QUAL',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'NDC_NUM',11,53,568,'NDC_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'METRIC_DECIMAL_QTY',13,54,579,'METRIC_DECIMAL_QTY',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DAYS_SUPPLY',4,55,592,'DAYS_SUPPLY',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DISPENSE_AS_WRITTEN',1,56,596,'DISPENSE_AS_WRITTEN',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WRITTEN_DT',8,57,597,'WRITTEN_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'REFILLS_AUTH',2,58,605,'REFILLS_AUTH',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'RX_ORIGIN_CD',1,59,607,'RX_ORIGIN_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'RX_CLARIFICATION_CD',2,60,608,'RX_CLARIFICATION_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLM_PRIOR_AUTH_NUM',12,61,610,'CLM_PRIOR_AUTH_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRIOR_AUTH_CERT_CD',1,62,622,'PRIOR_AUTH_CERT_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MEMBER_PRIOR_AUTH_NUM',30,63,623,'MEMBER_PRIOR_AUTH_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MPA_REASON_CD',20,64,653,'MPA_REASON_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MPA_START_DT',8,65,673,'MPA_START_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MPA_END_DT',8,66,681,'MPA_END_DT',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_PRDCT_NAME',25,67,689,'DRUG_PRDCT_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_PRDCT_DESC',25,68,714,'DRUG_PRDCT_DESC',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_TIER',2,69,739,'DRUG_TIER',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'GENERIC_PRDCT_ID',14,70,741,'GENERIC_PRDCT_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'GENERIC_PRDCT_NAME',60,71,755,'GENERIC_PRDCT_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'AHFS_CD',6,72,815,'AHFS_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_DEA_CLASS_CD',5,73,821,'DRUG_DEA_CLASS_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'RX_OTC_CD',1,74,826,'RX_OTC_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'MULTI_SOURCE_IND',1,75,827,'MULTI_SOURCE_IND',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_STRENGTH',12,76,828,'DRUG_STRENGTH',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_STRENGTH_UOM',12,77,840,'DRUG_STRENGTH_UOM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'SUBMIT_PHARM_ID',12,78,852,'SUBMIT_PHARM_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_ID_QUAL',2,79,864,'PHARM_ID_QUAL',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_NAME',35,80,866,'PHARM_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_STORE_NUM',10,81,901,'PHARM_STORE_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_AFFIL_CD',3,82,911,'PHARM_AFFIL_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_CONTRACT_TYPE',50,83,914,'PHARM_CONTRACT_TYPE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_ADDR_1',50,84,964,'PHARM_ADDR_1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_ADDR_2',50,85,1014,'PHARM_ADDR_2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_CITY',50,86,1064,'PHARM_CITY',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_STATE_CD',2,87,1114,'PHARM_STATE_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_ZIP_CD_10"',10,88,1116,'PHARM_ZIP_CD_10"',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PHARM_PHONE_NUM',10,89,1126,'PHARM_PHONE_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_ID',10,90,1136,'PRESCRIBER_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_ID_QUAL',2,91,1146,'PRESCRIBER_ID_QUAL',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_NAME',40,92,1148,'PRESCRIBER_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_ADDR_1',50,93,1188,'PRESCRIBER_ADDR_1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_ADDR_2',50,94,1238,'PRESCRIBER_ADDR_2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_CITY',50,95,1288,'PRESCRIBER_CITY',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_STATE_CD',2,96,1338,'PRESCRIBER_STATE_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_ZIP_CD_10',10,97,1340,'PRESCRIBER_ZIP_CD_10',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PRESCRIBER_PHONE_NUM',15,98,1350,'PRESCRIBER_PHONE_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'REJECT_CD1_DESCR',60,99,1365,'REJECT_CD1_DESCR',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'REJECT_CD2_DESCR',60,100,1425,'REJECT_CD2_DESCR',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'REJECT_CD3_DESCR',60,101,1485,'REJECT_CD3_DESCR',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_CONFLICT_CD',2,102,1545,'DUR_CONFLICT_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_INTERVENTION_CD',2,103,1547,'DUR_INTERVENTION_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_OUTCOME_CD',2,104,1549,'DUR_OUTCOME_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'LEVEL_OF_SRVC',2,105,1551,'LEVEL_OF_SRVC',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DIAGNOSIS_CD',15,106,1553,'DIAGNOSIS_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DIAGNOSIS_CD_QUAL',2,107,1568,'DIAGNOSIS_CD_QUAL',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_CONFLICT_CD1',2,108,1570,'DRUG_CONFLICT_CD1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLINICAL_SIGNIFICANCE_CD1',1,109,1572,'CLINICAL_SIGNIFICANCE_CD1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PHARM_IND1',1,110,1573,'OTHER_PHARM_IND1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_DT1',8,111,1574,'PREV_FILL_DT1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_QTY1',12,112,1582,'PREV_FILL_QTY1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DATABASE_IND1',1,113,1594,'DATABASE_IND1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PRESCRIB_IND1"',1,114,1595,'OTHER_PRESCRIB_IND1"',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_FREE_TXT_MESSAGE1',30,115,1596,'DUR_FREE_TXT_MESSAGE1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_CONFLICT_CD2',2,116,1626,'DRUG_CONFLICT_CD2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLINICAL_SIGNIFICANCE_CD2',1,117,1628,'CLINICAL_SIGNIFICANCE_CD2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PHARM_IND2',1,118,1629,'OTHER_PHARM_IND2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_DT2',8,119,1630,'PREV_FILL_DT2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_QTY2',12,120,1638,'PREV_FILL_QTY2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DATABASE_IND2',1,121,1650,'DATABASE_IND2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PRESCRIB_IND2',1,122,1651,'OTHER_PRESCRIB_IND2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_FREE_TXT_MESSAGE2',30,123,1652,'DUR_FREE_TXT_MESSAGE2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DRUG_CONFLICT_CD3',2,124,1682,'DRUG_CONFLICT_CD3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'CLINICAL_SIGNIFICANCE_CD3',1,125,1684,'CLINICAL_SIGNIFICANCE_CD3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PHARM_IND3',1,126,1685,'OTHER_PHARM_IND3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_DT3',8,127,1686,'PREV_FILL_DT3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'PREV_FILL_QTY3',12,128,1694,'PREV_FILL_QTY3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DATABASE_IND3',1,129,1706,'DATABASE_IND3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OTHER_PRESCRIB_IND3',1,130,1707,'OTHER_PRESCRIB_IND3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DUR_FREE_TXT_MESSAGE3',30,131,1708,'DUR_FREE_TXT_MESSAGE3',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'OOP_FLAG',1,132,1738,'OOP_FLAG',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DEDUCT_FLAG',1,133,1739,'DEDUCT_FLAG',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_INJURY_DATE',8,134,1740,'WC_INJURY_DATE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_CLAIM_ID',30,135,1748,'WC_CLAIM_ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_INJURY_TYPE',14,136,1778,'WC_INJURY_TYPE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_NAME',40,137,1792,'WC_EMPLOYER_NAME',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_ADDR_1',40,138,1832,'WC_EMPLOYER_ADDR_1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_ADDR_2',40,139,1872,'WC_EMPLOYER_ADDR_2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_CITY',20,140,1912,'WC_EMPLOYER_CITY',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_STATE_CD',2,141,1932,'WC_EMPLOYER_STATE_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_ZIP_CD',10,142,1934,'WC_EMPLOYER_ZIP_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_PHONE_NUM',10,143,1944,'WC_EMPLOYER_PHONE_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_EMPLOYER_FAX_NUM',10,144,1954,'WC_EMPLOYER_FAX_NUM',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_ADJUSTER',25,145,1964,'WC_ADJUSTER',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_ADJUSTER_PHONE',10,146,1989,'WC_ADJUSTER_PHONE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_ADJUSTER_FAX',10,147,1999,'WC_ADJUSTER_FAX',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_VENUE_STATE_CD',2,148,2009,'WC_VENUE_STATE_CD',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_ACTIVATION_DATE',8,149,2011,'WC_ACTIVATION_DATE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'WC_INJURY_CAUSE',100,150,2019,'WC_INJURY_CAUSE',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_4',1,151,2119,'FILLER_4',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_5',5,152,2120,'FILLER_5',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'FILLER_6',4,153,2125,'FILLER_6',0,@DefFileRowLayoutId,0,NULL)

In [26]:
df_database_info.head(40)

,Column_Header,Column_Order,Length_of_Field,Type,New_SQL
0,CLM_AUTH_NUM,7,16,v,insert into DICE.dbo.DAT_FileFormat values (@D...
1,CLAIM_STS,8,30,v,insert into DICE.dbo.DAT_FileFormat values (@D...
2,PAID_CLM_AUTH_NUM,9,14,v,insert into DICE.dbo.DAT_FileFormat values (@D...
3,COSTCO_CLM_ID,10,15,v,insert into DICE.dbo.DAT_FileFormat values (@D...
4,ASSOC_ID,11,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
5,ORG_ID,12,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
6,CARRIER_ID,13,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
7,ACCOUNT_ID,14,15,v,insert into DICE.dbo.DAT_FileFormat values (@D...
8,GROUP_ID,15,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
9,SUBGROUP_ID,16,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
10,LOCATION_ID,17,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
11,MEM_UNIQUE_ID,18,30,v,insert into DICE.dbo.DAT_FileFormat values (@D...
12,MEM_LAST_NAME,19,25,v,insert into DICE.dbo.DAT_FileFormat values (@D...
13,MEM_FIRST_NAME,20,25,v,insert into DICE.dbo.DAT_FileFormat values (@D...
14,MEM_MIDDLE_INIT,21,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
15,MEM_PERSON_CD,22,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
16,MEM_REL_CD,23,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
17,MEM_GENDER_CD,24,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
18,MEM_BIRTH_DT,25,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
19,MEM_ZIP,26,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
20,MEM_SOC_SEC_NUM,27,9,v,insert into DICE.dbo.DAT_FileFormat values (@D...
21,MEM_FAMILY_ID,28,30,v,insert into DICE.dbo.DAT_FileFormat values (@D...
22,MEM_PLAN_ID,29,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
23,MEM_PRDCT_CD,30,15,v,insert into DICE.dbo.DAT_FileFormat values (@D...
24,MEM_RIDER_CD,31,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
25,MEM_OTHER_COVRG_IND,32,30,v,insert into DICE.dbo.DAT_FileFormat values (@D...
26,MEM_OTHER_COVRG_ID,33,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...
27,FILLER_1,34,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
28,FILLER_2,35,15,v,insert into DICE.dbo.DAT_FileFormat values (@D...
29,CLM_ELIG_CLARIF_CD,36,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
30,CLM_CUST_LOCATION,37,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
31,CLM_FACILITY_ID,38,10,v,insert into DICE.dbo.DAT_FileFormat values (@D...
32,CLM_OTHER_COVRG,39,1,v,insert into DICE.dbo.DAT_FileFormat values (@D...
33,SUBMIT_DT,40,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
34,SUBMIT_TIMESTAMP,41,14,v,insert into DICE.dbo.DAT_FileFormat values (@D...
35,SERVICE_DT,42,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
36,COSTCO_INVOICE_NUM,43,25,v,insert into DICE.dbo.DAT_FileFormat values (@D...
37,INVOICE_DT,44,8,v,insert into DICE.dbo.DAT_FileFormat values (@D...
38,CLM_COUNTER,45,2,v,insert into DICE.dbo.DAT_FileFormat values (@D...
39,CLM_ORIGIN,46,20,v,insert into DICE.dbo.DAT_FileFormat values (@D...

In [ ]:
##--- END HERE --##