<a href="https://colab.research.google.com/github/wellmej/DataScienceUseCases/blob/main/SQL_Create_Column_Definitions_from_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [ ]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [ ]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
#folder_name = 'C:/Users/jrwel/Documents/Udemy/Python Mega Course/Data/Supermarket/'
folder_name = 'C:/Users/jrwel/Documents/Python Scripts/Data/'
file_name = 'Database_Table_Definition_Info.txt'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Definition Info Output_ZSAssociates.sql'
out_file = folder_name + out_file_name

In [ ]:

# Read .CSV file into a dataframe
#------------------------------------------------
df_database_info = pd.read_csv(csv_in_file)
df_database_info.head(10)

        Column_Header  Column_Order  Length_of_Field Type
0        Employee SSN             7                9    V
1         Employee ID             8               50    V
2          Member SSN             9                9    V
3   Member First Name            10               50    V
4  Member Middle Name            11               50    V
5    Member Last Name            12               50    V
6         Name Suffix            13               25    V
7              Gender            14                1    V
8                 DOB            15               10    V
9      Address Line 1            16               50    V

In [ ]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
#os.listdir()

In [ ]:
sqlBegin = 'insert into DICE.dbo.DAT_FileFormat values ('
sqlNULL = 'NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlEnd = ')'
i = 0

In [ ]:
for ind, row in df_database_info.iterrows():
    df_database_info.loc[ind, "New_SQL"] = sqlBegin + sqlDefFileFormatId + ',' + "'" + row['Column_Header'] + "'" + ',' + str(row['Length_of_Field']) + ',' + str(row['Column_Order']) + ',' + sqlZero + ',' + "'" + row['Column_Header'] + "'" + ',' + sqlZero + ',' + sqlDefFileRowLayoutId + ',' + sqlZero + ',' + sqlNULL + sqlEnd

In [ ]:
f = open(out_file, 'w')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row['New_SQL'] + '\n')
       print (row['New_SQL']) 
       i+=1
#
#
f.close()

insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Employee SSN',9,7,0,'Employee SSN',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Employee ID',50,8,0,'Employee ID',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Member SSN',9,9,0,'Member SSN',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Member First Name',50,10,0,'Member First Name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Member Middle Name',50,11,0,'Member Middle Name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Member Last Name',50,12,0,'Member Last Name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Name Suffix',25,13,0,'Name Suffix',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Gender',1,14,0,'Gender',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'DOB',10,15,0,'DOB',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Address Line 1',50,16,0,'Address Line 1',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Address Line 2',50,17,0,'Address Line 2',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'City',50,18,0,'City',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'State',50,19,0,'State',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Zip',10,20,0,'Zip',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Home phone',15,21,0,'Home phone',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Work phone',15,22,0,'Work phone',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Cell phone',15,23,0,'Cell phone',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Email',150,24,0,'Email',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Member Relationship',15,25,0,'Member Relationship',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Product Type',25,26,0,'Product Type',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Vendor for Product',250,27,0,'Vendor for Product',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Plan Name',100,28,0,'Plan Name',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Eligibility Status',30,29,0,'Eligibility Status',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Product Coverage',50,30,0,'Product Coverage',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Hire Date',10,31,0,'Hire Date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Product Eff Date',10,32,0,'Product Eff Date',0,@DefFileRowLayoutId,0,NULL)
insert into DICE.dbo.DAT_FileFormat values (@DefFileFormatId,'Product Term Date',10,33,0,'Product Term Date',0,@DefFileRowLayoutId,0,NULL)

In [ ]:
#for index, row in p.iterrows():
#    if i > len(p):
#       break
#    else:
#       f = open(str(i)+'.txt', 'w')
#       f.write(row[0])
#       f.close()
#       i+=1

In [ ]:
df_database_info.head(20)

,Column_Header,Column_Order,Length_of_Field,Type,New_SQL
0,Employee SSN,7,9,V,insert into DICE.dbo.DAT_FileFormat values (@D...
1,Employee ID,8,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
2,Member SSN,9,9,V,insert into DICE.dbo.DAT_FileFormat values (@D...
3,Member First Name,10,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
4,Member Middle Name,11,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
5,Member Last Name,12,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
6,Name Suffix,13,25,V,insert into DICE.dbo.DAT_FileFormat values (@D...
7,Gender,14,1,V,insert into DICE.dbo.DAT_FileFormat values (@D...
8,DOB,15,10,V,insert into DICE.dbo.DAT_FileFormat values (@D...
9,Address Line 1,16,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
10,Address Line 2,17,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
11,City,18,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
12,State,19,50,V,insert into DICE.dbo.DAT_FileFormat values (@D...
13,Zip,20,10,V,insert into DICE.dbo.DAT_FileFormat values (@D...
14,Home phone,21,15,V,insert into DICE.dbo.DAT_FileFormat values (@D...
15,Work phone,22,15,V,insert into DICE.dbo.DAT_FileFormat values (@D...
16,Cell phone,23,15,V,insert into DICE.dbo.DAT_FileFormat values (@D...
17,Email,24,150,V,insert into DICE.dbo.DAT_FileFormat values (@D...
18,Member Relationship,25,15,V,insert into DICE.dbo.DAT_FileFormat values (@D...
19,Product Type,26,25,V,insert into DICE.dbo.DAT_FileFormat values (@D...

In [ ]:
##
##  END HERE
##

In [ ]:
#----------------------------------------------------------------
# 1. Open Output CSV file to write Policy and Hashed data to. Set newline to null to avoid writing blank lines.
# 2. Read thru CSV inpiut file for each row
# 3. For each row, Hash the policy number, and capture last
#    8 characters of the hashed result
# 4. Write CSV output file for each new row with:
#    a. Input Policy Number
#    b. Hash SHA224 Result of Policy Number
#    c. Last 8 characters of Hash result (Activation Code)
#----------------------------------------------------------------

with open(out_file, mode='w', newline='') as hash_file_out:
      hash_file = csv.writer(hash_file_out, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
        
      policy_in = open(csv_in_file)
      policy_in_csv = csv.reader(policy_in)
      row_index = 0

#----------------------------------------------------------------
# For each input row, read the Policy_Number, hash it using
# SHA224 alogrithm, capture last 8 characters of the hash, and
# write Policy_Number, Full Hash, and Last 8 Hash to new
# output CSV file.
#----------------------------------------------------------------
      for row in policy_in_csv:
        print (row[row_index])
        row_new = row
        display_policy_number = row[row_index]
        policy_number = display_policy_number[0:10]
#
# encoding <Policy_number> using encode() 
# then sending to SHA224() 
#        result = hashlib.sha224(policy_number.encode()) 
  
# printing the equivalent hexadecimal value. 
#        print("The hexadecimal equivalent of SHA224 is : ")  
#        print(result.hexdigest()) 

#        row_new.append(result.hexdigest()[48:] + "-jrw")
        row_new.append(''        
        row_new.append(result.hexdigest())
        row_new.append(policy_number)
        
        print (row_new)
               
#----------------------------------------------------------------
#      Write out new CSV row
#----------------------------------------------------------------
        hash_file.writerow(row_new)
    
        print ("\r") 
#
# End
#

SyntaxError: invalid syntax (<ipython-input-28-d787c8f21e98>, line 41)