<a href="https://colab.research.google.com/github/wellmej/DataScienceUseCases/blob/main/SQL_Create_Table_from_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [ ]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [ ]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

In [18]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
#folder_name = 'C:/Users/jrwel/Documents/Udemy/Python Mega Course/Data/Supermarket/'
#employee_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Case Studies/Case1/Human_Resources.csv')
#employee_df = pd.read_csv('C:/Users/jrwel/Documents/Udemy/Data Science Real-World Case Studies/Data/Case1/Human_Resource.csv')
#folder_name = 'C:/Users/jack.wellmerling/Documents/MyDocs/PythonScriptData/WorkDirectory/'
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
table_name = 'LexisNexisAddressLocationExtract'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Create Output.sql'
out_file = folder_name + out_file_name

In [19]:
#------------------------------------------------
# Read .CSV file into a dataframe
#------------------------------------------------
#df_database_info = pd.read_csv(csv_in_file, encoding = "latin1" )
df_database_info = pd.read_csv(csv_in_file )
df_database_info.head(10)

                Column_Header  Column_Order  Length_of_Field Type
0               matches_input             7                1    v
1                   group_key             8               38    v
2                aug_addr_key             9               20    v
3    aug_addr_primary_address            10               50    v
4  aug_addr_secondary_address            11               50    v
5               aug_addr_city            12               28    v
6              aug_addr_state            13                2    v
7                aug_addr_zip            14                5    v
8              aug_addr_zip4"            15                4    v
9            aug_addr_rectype            16                2    v

# New Section

In [20]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
os.listdir()

['.config', 'drive', 'sample_data']

In [21]:
sqlBegin = 'CREATE TABLE '
sqlTable = '[EDExtract].[dbo].[LexisNexisAddressLocationExtract]'
sqlNULL = 'NULL'
sqlNOTNULL = 'NOT NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlComma = ','
sqlOpenBracket = '['
sqlOpenParen = '('
sqlCloseBracket = ']'
sqlCloseParen = ')'
sqlSpace = ' '
sqlVarChar = '[varchar]'

sqlEnd = ')'

sqlConstraint = ' CONSTRAINT [PK_LexisNexisAddressLocationExtract] PRIMARY KEY CLUSTERED'
sqlCons1 = '[RowId] ASC' + sqlComma
sqlCons2 = '[FileId] ASC' + sqlComma
sqlCons3 = '[ExecutionId] ASC'
sqlWith = sqlCloseParen + 'WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
sqlStorage = sqlCloseParen + ' ON [PRIMARY]'
i = 0

In [22]:
for ind, row in df_database_info.iterrows():
    if row['Type'] == 'v':
        df_database_info.loc[ind, "SQL_Create_Tbl"] = sqlOpenBracket + row['Column_Header'] + sqlCloseBracket + sqlSpace  + sqlVarChar + sqlOpenParen +  str(row['Length_of_Field']) + sqlCloseParen + sqlSpace + sqlNULL + sqlComma

In [23]:
#f = open(out_file, 'w', encoding="latin1")
f = open(out_file, 'w')
f.write(sqlBegin + sqlTable + '\n')
f.write(sqlOpenParen + '\n')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row ['SQL_Create_Tbl'] + '\n')
       print (row['SQL_Create_Tbl']) 
       i+=1
#
f.write(sqlConstraint + '\n')
f.write(sqlOpenParen + '\n')
f.write(sqlCons1 + '\n')
f.write(sqlCons2 + '\n')
f.write(sqlCons3+ '\n')
f.write(sqlWith + '\n')
f.write(sqlStorage + '\n')
#
f.close()

[matches_input] [varchar](1) NULL,
[group_key] [varchar](38) NULL,
[aug_addr_key] [varchar](20) NULL,
[aug_addr_primary_address] [varchar](50) NULL,
[aug_addr_secondary_address] [varchar](50) NULL,
[aug_addr_city] [varchar](28) NULL,
[aug_addr_state] [varchar](2) NULL,
[aug_addr_zip] [varchar](5) NULL,
[aug_addr_zip4"] [varchar](4) NULL,
[aug_addr_rectype] [varchar](2) NULL,
[aug_addr_secondary_range] [varchar](8) NULL,
[aug_addr_fipscode] [varchar](5) NULL,
[aug_phone1] [varchar](10) NULL,
[aug_phone1_last_contact_date] [varchar](8) NULL,
[aug_phone2] [varchar](10) NULL,
[aug_phone2_last_contact_date] [varchar](8) NULL,
[aug_phone3] [varchar](10) NULL,
[aug_phone3_last_contact_date] [varchar](8) NULL,
[aug_fax1] [varchar](10) NULL,
[aug_fax2] [varchar](10) NULL,
[aug_fax3] [varchar](10) NULL,
[aug_prac_company1_name] [varchar](100) NULL,
[aug_prac_company1_apcfirm1] [varchar](3) NULL,
[last_update_date] [varchar](8) NULL,
[aug_addr_conf_score] [varchar](3) NULL,
[aug_prac1_hospital_name] [varchar](100) NULL,
[aug_prac1_hospital_group_key] [varchar](38) NULL,
[primary_location] [varchar](1) NULL,
[aug_addr_ref_prac_addr_flag] [varchar](1) NULL,
[aug_addr_ref_bill_addr_flag] [varchar](1) NULL,

In [ ]:
#for index, row in p.iterrows():
#    if i > len(p):
#       break
#    else:
#       f = open(str(i)+'.txt', 'w')
#       f.write(row[0])
#       f.close()
#       i+=1

In [24]:
df_database_info.head(20)

,Column_Header,Column_Order,Length_of_Field,Type,SQL_Create_Tbl
0,matches_input,7,1,v,"[matches_input] [varchar](1) NULL,"
1,group_key,8,38,v,"[group_key] [varchar](38) NULL,"
2,aug_addr_key,9,20,v,"[aug_addr_key] [varchar](20) NULL,"
3,aug_addr_primary_address,10,50,v,"[aug_addr_primary_address] [varchar](50) NULL,"
4,aug_addr_secondary_address,11,50,v,"[aug_addr_secondary_address] [varchar](50) NULL,"
5,aug_addr_city,12,28,v,"[aug_addr_city] [varchar](28) NULL,"
6,aug_addr_state,13,2,v,"[aug_addr_state] [varchar](2) NULL,"
7,aug_addr_zip,14,5,v,"[aug_addr_zip] [varchar](5) NULL,"
8,"aug_addr_zip4""",15,4,v,"[aug_addr_zip4""] [varchar](4) NULL,"
9,aug_addr_rectype,16,2,v,"[aug_addr_rectype] [varchar](2) NULL,"
10,aug_addr_secondary_range,17,8,v,"[aug_addr_secondary_range] [varchar](8) NULL,"
11,aug_addr_fipscode,18,5,v,"[aug_addr_fipscode] [varchar](5) NULL,"
12,aug_phone1,19,10,v,"[aug_phone1] [varchar](10) NULL,"
13,aug_phone1_last_contact_date,20,8,v,"[aug_phone1_last_contact_date] [varchar](8) NULL,"
14,aug_phone2,21,10,v,"[aug_phone2] [varchar](10) NULL,"
15,aug_phone2_last_contact_date,22,8,v,"[aug_phone2_last_contact_date] [varchar](8) NULL,"
16,aug_phone3,23,10,v,"[aug_phone3] [varchar](10) NULL,"
17,aug_phone3_last_contact_date,24,8,v,"[aug_phone3_last_contact_date] [varchar](8) NULL,"
18,aug_fax1,25,10,v,"[aug_fax1] [varchar](10) NULL,"
19,aug_fax2,26,10,v,"[aug_fax2] [varchar](10) NULL,"