<a href="https://colab.research.google.com/github/wellmej/DataScienceUseCases/blob/main/SQL_Create_Table_from_CSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Working with CSV, JSON and EXCEL Files
##### Pandas

In [1]:
#--------------------------------------------
# Import the Pandas libraries
#--------------------------------------------
import pandas as pd

In [2]:
# You will need to mount your drive using the following commands:
# For more information regarding mounting, please check this out: https://stackoverflow.com/questions/46986398/import-data-into-google-colaboratory
#
#=============================================================*
# Note: Only need to do this once per session.                *
#       After executing, expand "drive" folder on left side.  *
#=============================================================*
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
#------------------------------------------------
# Set full file path names
#------------------------------------------------
#folder_name = 'C:/Users/jrwel/Documents/Udemy/Python Mega Course/Data/Supermarket/'
#employee_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Data Science Case Studies/Case1/Human_Resources.csv')
#employee_df = pd.read_csv('C:/Users/jrwel/Documents/Udemy/Data Science Real-World Case Studies/Data/Case1/Human_Resource.csv')
#folder_name = 'C:/Users/jack.wellmerling/Documents/MyDocs/PythonScriptData/WorkDirectory/'
folder_name = '/content/drive/My Drive/Colab Notebooks/'
file_name = 'Database_Table_Definition_Info.txt'
table_name = 'LexisNexisProviderAssociationsExtract'
csv_in_file = folder_name + file_name

out_file_name = 'Database Table Create Output.sql'
out_file = folder_name + out_file_name

In [5]:
#------------------------------------------------
# Read .CSV file into a dataframe
#------------------------------------------------
#df_database_info = pd.read_csv(csv_in_file, encoding = "latin1" )
df_database_info = pd.read_csv(csv_in_file )
df_database_info.head(10)

            Column_Header  Column_Order  Length_of_Field Type
0        person_group_key             7               38    v
1        entity_group_key             8               38    v
2          caf_addr_score             9               12    v
3           caf_addr_rank            10               12    v
4                fullname            11               50    v
5                addr_key            12               20    v
6    addr_primary_address            13               50    v
7  addr_secondary_address            14               50    v
8               addr_city            15               28    v
9              addr_state            16                2    v

# New Section

In [6]:
#------------------------------------------------
# Listing files in current directory
#------------------------------------------------
import os
os.listdir()

['.config', 'drive', 'sample_data']

In [7]:
sqlDrop = 'IF Object_id([EDExtract].[dbo].[' + table_name + ']) is not null DROP TABLE [EDExtract].[dbo].[' + table_name + '];'
sqlGo = 'GO'
sqlBegin = 'CREATE TABLE '
sqlTable = '[EDExtract].[dbo].[' + table_name + ']'
sqlNULL = 'NULL'
sqlNOTNULL = 'NOT NULL'
sqlDefFileFormatId = '@DefFileFormatId'
sqlDefFileRowLayoutId = '@DefFileRowLayoutId'
sqlZero = '0'
sqlComma = ','
sqlOpenBracket = '['
sqlOpenParen = '('
sqlCloseBracket = ']'
sqlCloseParen = ')'
sqlSpace = ' '
sqlVarChar = '[varchar]'

sqlEnd = ')'

sqlConstraint = ' CONSTRAINT [PK_' + table_name + '] PRIMARY KEY CLUSTERED'
sqlCons1 = '[RowId] ASC' + sqlComma
sqlCons2 = '[FileId] ASC' + sqlComma
sqlCons3 = '[ExecutionId] ASC'
sqlWith = sqlCloseParen + 'WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]'
sqlStorage = sqlCloseParen + ' ON [PRIMARY]'
i = 0

In [8]:
for ind, row in df_database_info.iterrows():
    if row['Type'] == 'v':
        df_database_info.loc[ind, "SQL_Create_Tbl"] = sqlOpenBracket + row['Column_Header'] + sqlCloseBracket + sqlSpace  + sqlVarChar + sqlOpenParen +  str(row['Length_of_Field']) + sqlCloseParen + sqlSpace + sqlNULL + sqlComma

In [9]:
#f = open(out_file, 'w', encoding="latin1")
f = open(out_file, 'w')
f.write(sqlDrop + '\n')
f.write(sqlGo + '\n')
f.write(sqlBegin + sqlTable + '\n')
f.write(sqlOpenParen + '\n')
for ind, row in df_database_info.iterrows():
    if i > len(df_database_info):
       break
    else:
#       f = open(str(i)+'.txt', 'w')
       f.write(row ['SQL_Create_Tbl'] + '\n')
       print (row['SQL_Create_Tbl']) 
       i+=1
#
f.write(sqlConstraint + '\n')
f.write(sqlOpenParen + '\n')
f.write(sqlCons1 + '\n')
f.write(sqlCons2 + '\n')
f.write(sqlCons3+ '\n')
f.write(sqlWith + '\n')
f.write(sqlStorage + '\n')
#
f.close()

[person_group_key] [varchar](38) NULL,
[entity_group_key] [varchar](38) NULL,
[caf_addr_score] [varchar](12) NULL,
[caf_addr_rank] [varchar](12) NULL,
[fullname] [varchar](50) NULL,
[addr_key] [varchar](20) NULL,
[addr_primary_address] [varchar](50) NULL,
[addr_secondary_address] [varchar](50) NULL,
[addr_city] [varchar](28) NULL,
[addr_state] [varchar](2) NULL,
[addr_zip] [varchar](5) NULL,
[addr_zip4] [varchar](4) NULL,
[addr_secondary_range] [varchar](8) NULL,
[addr_fipscode] [varchar](5) NULL,
[service_addr_ind] [varchar](1) NULL,
[billing_addr_ind] [varchar](1) NULL,
[remit_addr_ind] [varchar](1) NULL,
[person_phone1] [varchar](10) NULL,
[person_phone1_last_contact_date] [varchar](10) NULL,
[person_phone2] [varchar](10) NULL,
[person_phone2_last_contact_date] [varchar](10) NULL,
[person_phone3] [varchar](10) NULL,
[person_phone3_last_contact_date] [varchar](10) NULL,
[person_fax1] [varchar](10) NULL,
[person_fax2] [varchar](10) NULL,
[person_fax3] [varchar](10) NULL,
[entity _phone1] [varchar](10) NULL,
[entity _phone1_last_contact_date] [varchar](10) NULL,
[entity _phone2] [varchar](10) NULL,
[entity _phone2_last_contact_date] [varchar](10) NULL,
[entity _phone3] [varchar](10) NULL,
[entity _phone3_last_contact_date] [varchar](10) NULL,
[entity _fax1] [varchar](10) NULL,
[entity _fax2] [varchar](10) NULL,
[entity _fax3] [varchar](10) NULL,
[lbn] [varchar](100) NULL,
[dba] [varchar](100) NULL,
[bill_npi] [varchar](50) NULL,
[bill_tin] [varchar](50) NULL,
[hospital_name] [varchar](100) NULL,
[hospital_phone] [varchar](10) NULL,
[hospital_group_key] [varchar](38) NULL,
[cam_latest] [varchar](10) NULL,
[cam_earliest] [varchar](10) NULL,
[cbm3] [varchar](25) NULL,
[cbm6] [varchar](25) NULL,
[cbm12] [varchar](25) NULL,
[cbm18] [varchar](25) NULL,
[service_type] [varchar](3) NULL,
[relationship_type] [varchar](1) NULL,
[strong_prf_grp_ind] [varchar](1) NULL,
[strong_inst_rel_ind] [varchar](1) NULL,
[hbp_ind] [varchar](1) NULL,
[plt_strength] [varchar](1) NULL,

In [21]:
#for index, row in p.iterrows():
#    if i > len(p):
#       break
#    else:
#       f = open(str(i)+'.txt', 'w')
#       f.write(row[0])
#       f.close()
#       i+=1

In [10]:
df_database_info.head(20)

,Column_Header,Column_Order,Length_of_Field,Type,SQL_Create_Tbl
0,person_group_key,7,38,v,"[person_group_key] [varchar](38) NULL,"
1,entity_group_key,8,38,v,"[entity_group_key] [varchar](38) NULL,"
2,caf_addr_score,9,12,v,"[caf_addr_score] [varchar](12) NULL,"
3,caf_addr_rank,10,12,v,"[caf_addr_rank] [varchar](12) NULL,"
4,fullname,11,50,v,"[fullname] [varchar](50) NULL,"
5,addr_key,12,20,v,"[addr_key] [varchar](20) NULL,"
6,addr_primary_address,13,50,v,"[addr_primary_address] [varchar](50) NULL,"
7,addr_secondary_address,14,50,v,"[addr_secondary_address] [varchar](50) NULL,"
8,addr_city,15,28,v,"[addr_city] [varchar](28) NULL,"
9,addr_state,16,2,v,"[addr_state] [varchar](2) NULL,"
10,addr_zip,17,5,v,"[addr_zip] [varchar](5) NULL,"
11,addr_zip4,18,4,v,"[addr_zip4] [varchar](4) NULL,"
12,addr_secondary_range,19,8,v,"[addr_secondary_range] [varchar](8) NULL,"
13,addr_fipscode,20,5,v,"[addr_fipscode] [varchar](5) NULL,"
14,service_addr_ind,21,1,v,"[service_addr_ind] [varchar](1) NULL,"
15,billing_addr_ind,22,1,v,"[billing_addr_ind] [varchar](1) NULL,"
16,remit_addr_ind,23,1,v,"[remit_addr_ind] [varchar](1) NULL,"
17,person_phone1,24,10,v,"[person_phone1] [varchar](10) NULL,"
18,person_phone1_last_contact_date,25,10,v,[person_phone1_last_contact_date] [varchar](10...
19,person_phone2,26,10,v,"[person_phone2] [varchar](10) NULL,"